$grey-color: #525050;
$green-color: rgba(47, 175, 68, 0.35);
$green-color-hover: rgba(47, 175, 68, 0.8);
$light-grey-color: #626262;
$red-color: rgba(218, 86, 86, 0.8);
$red-color-hover: rgba(218, 86, 86, 1);

$screen-tablet: 768px;
$screen-phone: 412px;